name: CI

on:
  pull_request:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22.7' # Ensure this matches go version in your project

    - name: Run golangci-lint with Reviewdog
      uses: reviewdog/action-golangci-lint@v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        go_version: '1.22.7' # Ensure this matches go version in your project
        level: error
        reporter: github-pr-review
        filter_mode: nofilter
        golangci_lint_flags: "--timeout=180s --out-format=colored-line-number"

    - name: Build
      run: go build ./...

    - name: Test
      run: go test -race -gcflags "all=-N -l" -shuffle=on ./...
