name: reviewdog
on: [pull_request]
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.18'
      - name: lint
        uses: golangci/golangci-lint-action@v3.4.0
        with:
          version: latest
          args: --verbose